$bg-main: #B4FFFB;
$bg-covers: #FFFFFF;
$form: #D7F2FF;
$bg-question-cover: #FFEDA7;
$bg-grad-1: #ffd92c;
$bg-grad-2: #ff9c19;
$text-1: #003A51;
$bg-button: #FF6B02;
$bg-button-shadow: #b44e07;
$bg-button-pressed: #C55200;
$bg-button-pressed-shadow: #8A3900;
$bg-dev-1: #43FFC3;
$bg-dev-2: #007F97;
$bg-preis-1: #FFB753;
$bg-preis-2: #62FFE5;
$err: #FF3939;
$success: #39FF39;

$bg-promo-blyat: #1EB0C2;

$transition: .2s ease-out;

$bg-preisbonus: linear-gradient(153.64deg, $bg-preis-1 -7.519%, $bg-preis-2 105.738%);
$bg-dev-grad: linear-gradient(150.75deg, $bg-dev-1 -6.933%, $bg-dev-2 71.638%);
$bg-money-grad: linear-gradient(180.00deg, $bg-grad-1, $bg-grad-2 100%);

$font-primary: "Aclonica", sans-serif;
$font-size: 12px;
$line-height: 14px;
$mb-section: 120px;
$brad: 20px;
$container-width: 1320px;