@use '../helpers' as *;

.about {
    &__title {
        margin-bottom: 16px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
    &__item {
        flex-basis: 48%;
        flex-grow: 1;
    }
}

.about-card {
    width: 100%;
    min-height: 348px;
    background-color: $bg-covers;
    border-radius: $brad;
    overflow: hidden;

    @include tablet-sm {
        min-height: 320px;
    }

    &__image {
        height: 210px;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    &__text {
        font-size: $font-size;;
        line-height: $line-height;
        margin: 20px;
    }
}