@use '../helpers' as *;

.faq {
    &__title {
        margin-bottom: 16px;
    }
}

.faq-feature {
    display: grid;
    gap: 24px;

    @include tablet-md {
        grid-template-columns: 1fr 1fr;
    }
    
    &__answer {
        font-size: $font-size;;
        line-height: $line-height;
        min-height: 224px;
        background-color: $bg-covers;
        padding: 20px;
        border-radius: $brad;
    }
    &__item {
        display: grid;
        gap: 24px;
    }
}

.faq-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    min-height: 100px;
    gap: 20px;
    padding: 9px 20px;
    background-color: $bg-covers;
    border-radius: $brad;
    transition: $transition;

    &.is-active {
        background-color: $bg-question-cover;
    }

    &__text {
        font-size: 18px;
        line-height: 20px;
        text-transform: uppercase;
        margin: 0;
    }
}