@use '../helpers' as *;

.games {
    margin-right: 0;

    @include tablet-md {
        max-width: 65.21vw;
    }

    &__title {
        margin-bottom: 16px;
    }
    &__list {
        flex-direction: column;
        gap: 24px;
        padding-right: 16px;

        @include tablet-sm {
            flex-direction: row;
        }
    }
    &__slider-container {
        @include tablet-sm {
            overflow: visible !important;
        }
    }
}

.game-card {
    background-color: $bg-covers;
    overflow: hidden;
    border-radius: $brad;

    &__img {
        width: 100%;
        height: 125px;
        object-fit: cover;
        object-position: center;
    }
    &__body {
        background-color: $bg-covers;
        padding: 20px;
    }
    &__title {
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    &__text {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 20px;
    }
    &__button {
        width: 100%;
    }
    &__data {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        &:last-of-type {
            margin-bottom: 26px;
        }
    }
    &__key {
        font-size: 12px;
        line-height: 14px;
    }
    &__val {
        font-size: 26px;
        line-height: 1;
        color: $bg-button;
        background-image: url("images/players.png");
        background-position: center right;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0;
        padding-right: 32px;

        &--plus {
            background-image: url("images/players+.png");
        }
    }
}