@use '../helpers' as *;

.games {
    margin-right: 0;

    &__title {
        margin-bottom: 16px;
    }
    &__list {
        flex-direction: column;
        gap: 24px;
        padding-right: 16px;

        @include tablet-sm {
            flex-direction: row;
        }
    }
    &__slider-container {
        @include tablet-sm {
            overflow: visible !important;
        }
    }
}

.game-card {
    overflow: hidden;
    border-radius: $brad;

    &__img {
        width: 100%;
        height: 125px;
        object-fit: cover;
        object-position: center;
    }
    &__body {
        background-color: $bg-covers;
        padding: 20px;
    }
    &__title {
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    &__text {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 20px;
    }
    &__button {
        width: 100%;
    }
}