@use '../helpers' as *;

.header {
    padding-top: 30px;

    @include tablet-md {
        display: flex;
        flex-direction: row-reverse;
        gap: 40px;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 30px;
        flex-grow: 1;
    }
    &__title {
        font-size: 36px;
        line-height: 41px;
        text-transform: unset;
        margin-bottom: 20px;
    }
    &__burger {
        width: 40px;
        height: 40px;
        background-color: $bg-covers;
        background-image: url("images/menu.png");
        background-position: center;
        border: 0;
        border-radius: 10px;
        transition: $transition;

        &:active {
            transform: scale(.96);
        }

        @include tablet-md {
            display: none;
        }
    }
    &__search {
        display: flex;
        align-items: center;
        background: $bg-covers;
        padding: 11px 12px;
        border-radius: 10px;
        flex-grow: 1;

        &-icon {
            width: 16px;
            height: 16px;
            margin-right: 8px;
        }
        &-input {
            border: none;
            background: transparent;
            outline: none;
            font-size: 14px;
            color: $text-1;
            width: 100%;
        }
    }
}