@use '../helpers' as *;

.players-history {
    flex-shrink: 0;
    min-width: 285px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: $bg-covers;
    border-radius: $brad;
    padding: 20px;

    &--fixed {
        max-height: 329px;
        overflow-y: scroll;
    }
    &--grid {
        @include tablet-md {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            .player-item {
                flex-basis: 360px;
            }

            .players-history__title {
                flex-grow: 1;
                width: 100%;
            }
        }
        @include desktop-sm {
            column-gap: 60px;
        }
    }

    @include tablet-md {
        margin-left: 0;
    }

    &__title {
        margin-bottom: 0;
    }
}

.player-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 48%;
    gap: 10px;
    min-width: 245px;
    flex-grow: 1;

    &--vertical {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 6px;
        min-width: 120px;
    }
    
    &__block {
        flex-shrink: 0;

        &:last-of-type {
            margin-left: auto;
        }
    }
    &__name {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 6px;
    }
    &__lvl {
        font-size: $font-size;;
        line-height: $line-height;
        margin: 0;
        color: $bg-button;
    }
    &__text {
        font-size: $font-size;;
        line-height: $line-height;
        margin-bottom: 6px;
    }
    &__price {
        display: grid;
        place-items: center;
        font-size: $font-size;;
        line-height: $line-height;
        background: $bg-money-grad;
        border-radius: 30px;
        color: $bg-covers;
        width: 81px;
        height: 20px;
    }
}