@use '../helpers' as *;

.players-history {
    max-height: 329px;
    min-width: 325px;
    overflow-y: scroll;
    background-color: $bg-covers;
    border-radius: 20px;
    padding: 20px 20px 0 20px;

    @include tablet-md {
        margin-left: 0;
    }

    &__title {
        margin-bottom: 16px;
    }
}

.player-item {
    display: grid;
    grid-template-columns: 45px 2fr .5fr;
    gap: 10px;
    margin-bottom: 20px;

    &__ava {
        width: 45px;
        height: 45px;
    }
    &__name {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 6px;
    }
    &__lvl {
        font-size: 12px;
        line-height: 14px;
        color: $bg-button;
    }
    &__text {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 6px;
    }
    &__price {
        display: grid;
        place-items: center;
        font-size: 12px;
        line-height: 14px;
        background: $bg-money-grad;
        border-radius: 30px;
        color: $bg-covers;
        width: 81px;
        height: 20px;
    }
}