@use '../helpers' as *;

.promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 320px;
    color: $bg-covers;
    background-color: $bg-promo-blyat;
    padding: 60px 20px;
    border-radius: $brad;

    margin-bottom: 80px;

    @include tablet-sm {
        @include backgroundImg("background_1");
        min-height: 330px;
    }
    @include tablet-md {
        flex-grow: 1;
        margin-bottom: 0;
        padding: 38px 36px;
    }

    &__title {
        color: inherit;
        word-break: break-all;
        margin-bottom: 0;
    }
    &__text {
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        margin-bottom: 20px;

        @include tablet-md {
            font-size: 20px;
            line-height: 23px;
            max-width: 394px;
        }
    }
}