@use '../helpers' as *;

.winners {
    &__title {
        margin-bottom: 16px;
    }
    &__grid {
        display: grid;
        gap: 24px;

        @include tablet-sm {
            grid-template-columns: auto 1fr;
            align-items: start;
        }
    }
}