{% extends "page-template.html" %}

{% block metaTitle %}
    Verhaltenskodex
{% endblock %}

{% block header %}
    <header class="header">
        <div class="header__inner">
            <button class="header__burger" data-popup-trigger></button>
            <div class="header__search">
                <img src="images/search.svg" alt="Search Icon" class="header__search-icon">
                <input type="text" placeholder="Wonach suchen Sie?" class="header__search-input">
            </div>
            <img src="images/notifications.png" alt="Notifications">
        </div>
    </header>
{% endblock %}

{% block main %}
    <section class="promo">
        <h1 class="title title--xl promo__title">
            Verhaltenskodex
        </h1>
    </section>
    <article class="documents">
        <h2 class="title documents__title">
            Unity Hub | Verhaltensregeln
        </h2>
        <p class="documents__description">
            Im Unity Hub streben wir danach, eine Umgebung zu schaffen, in der jedes Community-Mitglied in einer ruhigen und freundlichen Atmosphäre mit Freunden spielen und kommunizieren kann. Dafür benötigen wir Ihre Hilfe.
            Diese Community-Regeln gelten für alle Nutzer der Spiele, Dienste und anderen Produkte von Unity Hub. Sie erklären, wie man sich beim Umgang mit anderen Community-Mitgliedern verhalten sollte. Nachfolgend finden Sie Beispiele für spezifische Situationen, aber das bedeutet nicht, dass die Regeln darauf beschränkt sind.
            Die Regeln zu befolgen ist einfach, aber Verstöße führen zu Maßnahmen, einschließlich eines lebenslangen Ausschlusses.
        </p>
        <h3 class="title title--sm documents__subtitle">
            Gemeinschaftsregeln:
        </h3>
        <p class="documents__description">
            Persönliche Informationen: Es ist verboten, die persönlichen Daten anderer offenzulegen, außer dem angezeigten Namen. Drohen Sie nicht, alternative Konten und echte Namen von Nutzern preiszugeben.
            Intoleranz und Diskriminierung: Äußerungen von Hass oder Diskriminierung sind im Unity Hub nicht akzeptabel. Respektieren Sie die Vielfalt der Nutzer.
            Mobbing und beleidigendes Verhalten: Respektieren Sie andere in der Kommunikation, beim Spielen und in der Kreativität. Drohungen, Einschüchterungen, Erniedrigungen und anstößiges Verhalten sind verboten.
            Identitätsbetrug: Täuschen Sie keine anderen Teilnehmer, Prominenten oder Mitarbeiter von Unity Hub vor.
            Betrug und Verspottung: Spielen Sie fair. Betrug, Sabotage, Verschwörung und das Verbreiten bekannter Spielfehler sind verboten.
            Gefährliche oder illegale Aktivitäten: Beteiligen Sie sich nicht an oder unterstützen Sie keine illegalen Handlungen, einschließlich Glücksspiel, Online-Betrug und der Veröffentlichung persönlicher Daten.
            Unangemessene Inhalte: Erstellen Sie Inhalte, die positive Emotionen hervorrufen, und halten Sie sich an die Inhaltsanforderungen.
            Folgen: Verstöße werden individuell betrachtet. Je nach Schwere können Maßnahmen bis hin zu einem lebenslangen Ausschluss ergriffen werden.
            Spieler melden: Wenn Sie auf einen Regelverstoß stoßen, melden Sie diesen im Spiel. Wenn Sie eine persönliche Abneigung gegen einen Nutzer haben, der die Regeln nicht verletzt, können Sie ihn blockieren.
            Sicherheit: Achten Sie auf Ihre persönlichen Daten. Unity Hub bietet Werkzeuge zur Gewährleistung der Sicherheit. Informationen zu den Funktionen der Elternkontrolle finden Sie im entsprechenden Abschnitt.
            Diese Community-Regeln können geändert werden. Achten Sie auf Updates. "Aber niemand hat mir gesagt..." ist keine Entschuldigung. Letztendlich ist es das Ziel von Unity Hub, eine gute Zeit beim Spielen zu haben!
        </p>
    </article>
{% endblock %}