{% extends "page-template.html" %}

{% block metaTitle %}
    Kontakte
{% endblock %}

{% block header %}
    <header class="header">
        <div class="header__inner">
            <button class="header__burger" data-popup-trigger></button>
            <div class="header__search">
                <img src="images/search.svg" alt="Search Icon" class="header__search-icon">
                <input type="text" placeholder="Wonach suchen Sie?" class="header__search-input">
            </div>
            <img src="images/notifications.png" alt="Notifications">
        </div>
    </header>
{% endblock %}

{% block main %}
    <main class="main-rows">
        <section class="promo">
            <h1 class="title title--xl promo__title">
                Kontakte
            </h1>
            <p class="promo__text">
                Schreiben Sie uns
            </p>
        </section>
        <address class="contacts-list">
            <div class="contacts-list__item">
                <p class="contacts-list__text">
                    Shop 20a/508-516 Old Northern Rd, Dural NSW 2158, Australien
                </p>
            </div>
            <div class="contacts-list__item">
                <p class="contacts-list__text">
                    Telefonnummer
                </p>
                <p class="contacts-list__text contacts-list__text--lg">
                    +61 3 6234 3549
                </p>
            </div>
            <div class="contacts-list__item">
                <p class="contacts-list__text">
                    Postanschrift
                </p>
                <p class="contacts-list__text contacts-list__text--lg">
                    marketing.@mail.com
                </p>
            </div>
        </address>
        {% include "feedback.html" %}
    </main>
{% endblock %}