{% extends "page-template.html" %}

{% block metaTitle %}
    Spiele erkunden
{% endblock %}

{% block header %}
    <header class="header">
        <div class="header__inner">
            <button class="header__burger" data-popup-trigger></button>
            <div class="header__search">
                <img src="images/search.svg" alt="Search Icon" class="header__search-icon">
                <input type="text" placeholder="Wonach suchen Sie?" class="header__search-input">
            </div>
            <img src="images/notifications.png" alt="Notifications">
        </div>
    </header>
{% endblock %}

{% block main %}
    <div class="row-tablet-md mb-section">
        <section class="promo">
            <h1 class="title title--xl promo__title">
                Spiele<br> erkunden
            </h1>
            <p class="promo__text">
                Wir haben diesen Ort speziell für Gaming-Enthusiasten geschaffen
            </p>
        </section>
        {% include "players-history.html" %}
    </div>
    {% include "bonus.html" %}
    {% include "games.html" %}
    {% include "winners.html" %}
{% endblock %}