{% extends "page-template.html" %}

{% block metaTitle %}
    Spiele erkunden
{% endblock %}

{% block main %}
    <div class="row-tablet-md mb-section">
        <section class="promo">
            <h2 class="title title--xl promo__title">
                Spiele<br> erkunden
            </h2>
            <p class="promo__text">
                Wir haben diesen Ort speziell für Gaming-Enthusiasten geschaffen
            </p>
        </section>
        {% include "players-history.html" %}
    </div>
    {% include "bonus.html" %}
    {% include "games.html" %}
    {% include "winners.html" %}
{% endblock %}