{% extends "page-template.html" %}

{% block metaTitle %}
    home
{% endblock %}

{% block header %}
    <header class="header">
        <div class="header__inner">
            <button class="header__burger" data-popup-trigger></button>
            <div class="header__search">
                <img src="images/search.svg" alt="Search Icon" class="header__search-icon">
                <input type="text" placeholder="Wonach suchen Sie?" class="header__search-input">
            </div>
            <img src="images/notifications.png" alt="Notifications">
        </div>
        <h1 class="title header__title">Willkommen bei uns</h1>
    </header>
{% endblock %}

{% block main %}
    <main class="main-rows">
        <section class="promo">
            <h2 class="title title--xl promo__title">
                Unity Hub!
            </h2>
            <p class="promo__text">
                Deine Reise in die Welt der Spiele beginnt hier. Schließe dich uns an und entdecke neue, aufregende Welten.
            </p>
            <a class="button promo__btn" href="#form">
                Abonniere die Unternehmensnachrichten
            </a>
        </section>
        {% include "games.html" %}
        <div class="row-tablet-md">
            {% include "players-history.html" %}
            {% include "steps.html" %}
        </div>
        {% include "bonus.html" %}
        {% include "faq.html" %}
        {% include "winners.html" %}
        {% include "feedback.html" %}
    </main>
{% endblock %}